@media (min-width: 1200px) and (max-width: 1440px) {
    body {
        font-family: 'Montserrat', sans-serif;
    }

    @font-face {
     font-family: AAA;
     src: url('../fonts/Gotham-Black.otf');
    }
    @font-face {
     font-family: BBB;
     src: url('../fonts/Gotham-Bold.otf');
    }
    

   h1 {
      font: 34px AAA, Sans-serif;
      font-style: oblique;
    }

    h2  {
      font: 30px AAA, Sans-serif;
      text-transform: uppercase;
    }

    span {
        font: 18px BBB, Sans-serif;

    }


    .shadow {
        /* formatação do box */
        width:100%;
        background:#fff;
        border-radius: 15px;
        padding:10px;
        padding-bottom: 40px;

        position: inherit;
        top: 25%;
            
        /* box shadow */
        box-shadow: 0 2px 13px 3px rgba(0, 0, 0, 0.2);
    }






    }

    .icons ul {

    }

    .icons ul li {
        display: table-cell; 
        padding: 0px 13px
    }

    .icons ul li img {
        display: inline-block; 
        padding: 30px 25px
    }

    .box {
        border-radius: 20px;
        max-width: 420px;
        right: 60px;


    }

    .box p {
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        padding: 20px 30px;
        text-align: center;
    }

    .box form {
        padding-left: 20px;
        padding-right: 20px;
    }

    .desktop{
        display: block !important;
    }

    .mobile{
        display: none !important;
    }

    .btn-glass-hover {
      text-align: center;
      display: inline-block;
      padding: 10px 40px;
      cursor: pointer;
      letter-spacing: 2px;
      overflow:hidden;
     
    }

    .btn-glass-hover:before {
      content: "";
      position: absolute;
      height: 180px;
      width: 50px;
      background : #fff;
      left: -560px;
      top: -360px;
      transform: rotate(37deg);
      transition: all .3s;
      opacity: 0.3;
    }

    .btn-glass-hover:hover:before {
      left:100%;
    }

      .reflexo {
      position: absolute;
      height: 1800px;
      width: 70px;
      background : #fff;
      left: -580px;
      top: -300px;
      transform: rotate(37deg);
      opacity: 0.3;
    }

    .left-custom {
        left: 80%;
    }


   .header {
      top: 0;
      width: 100%;
      height: 74px;
      background: #fff;
      padding: 8px 0;
      z-index: 10;
      border: 1px solid rgba(28,28,28,.07);
      box-shadow: 0 7px 6px 0 rgba(33,43,54,.04);
        
    }

    .header .logo {
    /*padding: 12px;*/
    max-width: 45%;

    }

    .header_menu ul li a.active {
      box-shadow: inset 0 4px 0 0 hsla(0, 0%,71%, .5);
      color: gray;
      font-weight: 400;  
    }

    .card-total {
      display: flex;
      -webkit-box-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 44px 32px;
      border-radius: 10px;
      box-shadow: 0 8px 10px 0 rgba(31,70,88,.04);
      overflow: hidden;
      position: relative;
      margin: 10px;
      background: #fff;
      border:1px solid #dbe9f5; 
    }




}